.Mint-Top-Marquee{
    background-color: #202251;
    color: white;
    font-size: 24px;
    font-family: 'Prompt';
    padding: 14px;
    border-radius: 3px;
}

.Mint-Title-Timeline{
    margin-top: 96px;
    text-align: center;
    font-size: 36px;
    font-family: 'Prompt';
    color: #202251;
}

.Mint-NumberOfMint{
    font-size: 24px;
    font-family: 'Prompt';
    padding: 14px;
    padding-top: 96px;
    color: #202251;
}

.Mint-logo {
    display: block;
    margin: auto;
    margin-bottom: 28px;
    margin-top: 28px;
    height: 150px;
}

.Mint-Showcase-container{
    margin-bottom: 28px;
    margin-top: 28px;
}

.Mint-Showcase-Item {
    display: block;
    margin: auto;
    margin-bottom: 14px;
    margin-top: 14px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}